<div style="max-width: 100%; width: 700px; margin-left: auto; margin-right: auto; padding-top: 2.5%; padding-bottom: 2.5%">
	{RELOAD}
<!--	<div id="ilTopBar" class="ilTopBar">
-->
	<div>
		<div class="container" >
			<div class="row">
				<!-- BEGIN header_top_title -->
				<div class="ilTopTitle">{TXT_HEADER_TITLE}</div>
				<!-- END header_top_title -->
				<ul id="ilTopBarNav" class="">
					<!-- BEGIN lang_select -->
					<!--					<li class="dropdown"><a id="mm_lang_sel" href="#" class="dropdown-toggle" data-toggle="dropdown">{TXT_LANGSELECT} <span class="caret"></span></a>
                                                  {LANG_SELECT}
                                            </li>
                    -->				<!-- END lang_select -->
				</ul>
			</div>
		</div>
	</div>
	<div class="ilMainHeader" style="max-width: 100%; height: 150px; padding-left: 3%; padding-right: 3%;">
			<img src="{HEADER_ICON}"  alt="Logo" height="auto" style="max-width: 100%; max-height:100%" />
			<img src="./data/lernhaus-v2/mobs/mm_4077/newsletter_zeichnung.png"  alt="nl_zeichnung" height="auto" style="max-width: 100%; max-height:100%; float:right; padding-top: 3%; padding-bottom: 3%"/>
	</div>
	<!--
	<div class="ilMainMenu">
		<div class="container">
			<div class="row">
				<nav id="ilTopNav" class="navbar navbar-default" role="navigation"></nav>
			</div>
		</div>
	</div>
	-->
	<div id="mainspacekeeper" class="container ilCenter" style="width:100%; background: #ffffff; padding-top: 20px">
		<div class="row" style="position: relative;">
			<div id="fixed_content" class=" ilContentFixed">
				<div id="mainscrolldiv" class="ilStartupFrame container" style="width:100%; padding-bottom: 25px">
					<!-- BEGIN page_headline -->
					<div class="il_Header">
						<h1><!-- BEGIN img_headline --><img src="{IMG_PAGEHEADLINE}" /> <!-- END img_headline -->{TXT_PAGEHEADLINE}</h1>
					</div>
					<!-- END page_headline -->
					{MESSAGE}
					<div class="ilMessageBox">
						<!-- BEGIN warning -->
						<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
						<div class="ilFailureMessage">
							<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
							{TXT_MSG_LOGIN_FAILED}
						</div>
						<!-- END warning -->
						<!-- BEGIN success -->
						<img class="ilSuccessMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
						<div class="ilSuccessMessage">
							<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
							{TXT_MSG_LOGIN_SUCCESS}
						</div>
						<!-- END success -->
					</div>
					<div style="color: #F1B449 !important;">
						{STARTUP_CONTENT}
					</div>
					<!-- BEGIN links_bl -->
					<div style="padding-top: 25px;">
						<!-- BEGIN link_item_bl -->
						<a class="il_ContainerItemCommand" href="{LINK_URL}">{LINK_TXT}</a>
						<!-- END link_item_bl -->
					</div>
					<!-- END links_bl -->
				</div>
			</div>
		</div>
	</div>
	<!--
	<div id="minheight"></div>
	<footer class="ilFooter">
		<div class="container">
			<div class="row ilFooterContainer">{FOOTER}</div>
		</div>
	</footer>
	-->
	{SCRIPT}
</div>