<div style="background-color: #FFF; max-width: 100%; width: 700px; margin-left: auto; margin-right: auto; margin-top: 50px;">
	{RELOAD}
<!--	<div id="ilTopBar" class="ilTopBar">
-->
	<div>
		<ul id="ilTopBarNav" class="" style="margin-right: -1px;">
			<!-- BEGIN lang_select -->
			<li class="dropdown"><a id="mm_lang_sel" href="#" class="dropdown-toggle" data-toggle="dropdown">{TXT_LANGSELECT} <span class="caret"></span></a>
				{LANG_SELECT}
			</li>
            <!-- END lang_select -->
		</ul>
		<!-- needs Logo or header?-->
		<div class="ilMainHeader" style="max-width: 100%; height: 150px; padding-left: 10%; padding-right: 15%; border-bottom: 0px; margin-bottom: 100px; padding-top: 75px">
			<img src="./templates/default/images-custom/grandexperts_text.png"  alt="Logo" height="auto"/>
		</div>
	</div>

	<!--
	<div class="ilMainMenu">
		<div class="container">
			<div class="row">
				<nav id="ilTopNav" class="navbar navbar-default" role="navigation"></nav>
			</div>
		</div>
	</div>
	-->
	<div id="mainspacekeeper" class="container ilCenter" style="width:100%; background: #ffffff; padding-top: 20px">
		<div class="row" style="position: relative;">
			<div id="fixed_content" class=" ilContentFixed">
				<div id="mainscrolldiv" class="ilStartupFrame container" style="width:100%; padding-bottom: 25px">
					<!-- BEGIN page_headline -->
					<div class="il_Header">
						<h1><!-- BEGIN img_headline --><img src="{IMG_PAGEHEADLINE}" /> <!-- END img_headline -->{TXT_PAGEHEADLINE}</h1>
					</div>
					<!-- END page_headline -->
					{MESSAGE}
					<div class="ilMessageBox">
						<!-- BEGIN warning -->
						<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
						<div class="ilFailureMessage">
							<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
							{TXT_MSG_LOGIN_FAILED}
						</div>
						<!-- END warning -->
						<!-- BEGIN success -->
						<img class="ilSuccessMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
						<div class="ilSuccessMessage">
							<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
							{TXT_MSG_LOGIN_SUCCESS}
						</div>
						<!-- END success -->
					</div>
					<div style="color: #F1B449 !important;">
						{STARTUP_CONTENT}
					</div>
					<!-- BEGIN links_bl -->
					<div style="padding-top: 25px;">
						<!-- BEGIN link_item_bl -->
						<a class="il_ContainerItemCommand" href="{LINK_URL}">{LINK_TXT}</a>
						<!-- END link_item_bl -->
					</div>
					<!-- END links_bl -->
				</div>
			</div>
		</div>
	</div>
	<!--
	<div id="minheight"></div>
	<footer class="ilFooter">
		<div class="container">
			<div class="row ilFooterContainer">{FOOTER}</div>
		</div>
	</footer>
	-->
	{SCRIPT}
</div>